/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/05/2016, 03:55:46 PM
    Author     : Claudio Canel
*/
.font-face {
    font-family: "Roboto";
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

.table-column {
  -fx-alignment: CENTER;

}

.gridPane{
    -fx-background-color: #666666;
}

.hbox{ 
    -fx-brackground-color: #CCCCCC;
}



.text-field {
    -fx-background-color: #FFF, #FFF;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #f5f5f5 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.button {
    -fx-font-family: 'Roboto';
    -fx-text-fill: #444;
    -fx-background-color: rgba(230, 230, 230, 1);
    -fx-background-insets: 0;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1);
}
.button:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3);
     -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-background-color:
        rgba(245, 245, 245, 1),
        rgba(230, 230, 230, 1);
    -fx-background-insets: 0, 1;
}

#hboxUsuario {
    -fx-background-color: #F9FAFC;
}
#gridLogin{
    -fx-background-color: #F9FAFC;
}
.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
    -fx-animated: true;
}
.menuBar *.menuBar-header-background {
    -fx-background-color: #1d1d1d
    
}
#ButtonCancelar{
     -fx-background-color: #FFF;
}
#hBoxBuscar{
     -fx-background-color: #FFF;
}
#hBoxCalificaciones{
    -fx-background-color: white;
}
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

